{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size ="6">
<i>
<h1>BackEnd</h1>
<br><br>
<p>
<hr>
Backend’in Türkçe karşılığı “Arkayüz”dür. Kullanıcıların görmediği arka yüz (Server-side) geliştiren kişidir. Yani sistemin mimarisini oluşturan, veri tabanı yönetimini planlayan, sunucu ayarlamalarından sorumlu, sistemin maksimum seviyede verimli ve hızlı çalışmasını sağlayan kişidir. Back-end teknolojilerinide Python, PHP, Ruby, Java, C#, ASP.NET, MySQL, MS Sql, MongoDB diye özetleyebiliriz. Teknolojiler geliştikçe bu iki kavram ortaya çıkmış ve zaman içerisinde kendi aralarında dallanmaya başladılar. Örneğin front-end kısmında CSS Developer, (yada UI/UX Developer) ve JavaScript Developer gibi alt dallar çıkmaya başladı. Back-end kısmında ise Database Developer, Java Developer yada Software/Application Developer gibi alt kırılımlar oluşmaya başladı. Her iki alanda bulunan alt kırılımlar aslında uzmanlaşmayı beraberinde getirmektedir.
<hr>
</p>
</i>
</font>
</div>
{% endblock body %}
