{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size = "5">
<i>

<h1>Hangi Dil Ne İşe Yarar</h1>
<br><br><br>

<ul>
<li>Mac, iPhone, ve diğer Apple, ürünlerine yazılım geliştirmek için: Swift, HTML, ve CSS.
<br>
<li>Android uygulamaları geliştirmek için: Java veya Kotlin
<br>
<li>WordPress tabanlı web yazılımları geliştirmek için: HTML, CSS, JavaScript ve PHP.
<br>
<li>Web uygulamaları geliştirmek için: Ruby, (Ruby on Rails)
<br>
<li>Büyük ve veri işleyen web projeleri üretmek için: SQL, biçimlerinden birini MySQL, PostgreSQL, veya Microsoft, SQL.
<br>
<li>Oyun, ses veya video, programları geliştirmek için: C++
<br>
<li>Windows için programlar geliştirmek istiyorsanız: C#
<br>
<li>Alternatif web yazılımları için: Python
</ul>
<br><br><br>


<h2>En Çok Kullanılan Programlama Dilleri</h2>
<p>
Bazı programlama dilleri doğal olarak diğerlerinden daha sık kullanılıyor. Burada devreye ihtiyaçlar dengesi giriyor. Windows, kullanıcıları bilgisayarlarını daha etkili kullanmak için yazılımlara ihtiyaç duyduğu gibi Mac, kullanıcıları da, bilgisayarlarını etkili kullanabilecekleri yazılımlara ihtiyaç duyuyorlar. Windows kullanıcılarının sayısı Mac kullanıcılarının 10 katı kadar olduğu için Windows’da yazılım hazırlamak için kullanılan diller daha çok öne çıkabiliyor. Benzeri ihtiyaç dengeleri yazılım dillerinin popülaritesini belirlemekte en önemli unsur olarak öne çıkar.

Web geliştirme ortamında açık kaynağı tercih edenler PHP, ve Python, gibi açık kaynaklı dilleri tercih ederken, kurumsal ortamda daha çok ASP.NET tercih edilebilir. Daha önceden söylediğimiz gibi bir programlama dilini öğrenmeden önce hedefinizin ne olduğunu, hangi alanda çalışmak istediğinizi belirlemeniz gerekiyor. 2017 yılı itibariyle karşımıza çıkan en popüler programlama dilleri Stack Overflow’un raporuna göre şu şekilde sıralanıyor;
</p>
<br><br>
<ul>
<li>Python
<li>C
<li>C++
<li>Java
<li>Swift
<li>JavaScript
<li>Go
<li>R
<li>C#
<li>Ruby
<li>Assembly
<li>Arduino
<li>Shell
<li>Scala
<li>Rust
<li>Haskell
<li>Perl
<li>Matlab
<li>Lua
<li>Objective-C
</ul>
<br><br><br>

<h2>Web Alanında En Popüler Programlama Dilleri</h2>
<br><br>
<ul>
<li>Python
<li>Java
<li>C#
<li>JavaScript
<li>PHP
<li>Go
<li>Ruby
<li>Scala
<li>HTML
<li>Perl
</ul>
<br><br>

<h2>2017’nin En Hızlı Büyüyen Dilleri</h2>
<br><br>
<ul>
<li>Python
<li>C
<li>C++
<li>Java
<li>Swift
<li>JavaScript
<li>Go
<li>R
<li>C#
<li>Ruby
</ul>
<br><br>

<h2>İş Verenlerin En Çok Aradığı Diller</h2>
<br><br>
<ul>
<li>Java
<li>C
<li>Python
<li>C++
<li>JavaScript
<li>C#
<li>PHP
<li>HTML
<li>Ruby
<li>Swift
</ul>

<br><br><br><br><br><br>
</i>
</font>
</div>
{% endblock body %}