{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size = "5">
<i>

<h1>Duyuru</h1>
<br><br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o0dU1v.png">
<code>Bu Sayfa  Dilleri veya Kütüphaneleri İleri Seviye Öğretmek İçin Değildir.Sayfanın Amacı Yeni Başlayanlar İçin Kafa Karışıklığı Olmaması Adına Ele Alınan Konulardır.
<br>
Bu Sayfadakileri Öğrenmek İçin Temel Seviye Bilmeniz Gereken Diller vardır.Bunların Bazılarına Sayfamızdan Ulaşabilirsiniz.
<br>
<ul>
<li><a href = "Temel-Seviye-Html">Html</a>&nbsp;&nbsp;
<li><a href = "Temel-Seviye-Css">Css</a>&nbsp;&nbsp;
<li><a href = "Temel-Seviye-JavaScript">JavaScript</a>&nbsp;&nbsp;
<li><a href = "https://www.python.org">Python</a>&nbsp;&nbsp;
<li><a href = "https://docs.microsoft.com/tr-tr/dotnet/csharp/">CSharp</a>
</ul>
</code>



<br><br><br>
<a href="mailto:cansjns@gmail.com">İletişim İçin. </a>
<br><br>



</i>
</font>
</div>
{% endblock body %}