{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class =  "container">
<font size = "6">
<i>
<h1>FrontEnd</h1>
<p>
<hr>
Frontend’in Türkçe karşılığı “Önyüz”dür. Yapılma aşamasındaki bir web sitesinin ön yüzünü (client-side) HTML, CSS ve JavaScript gibi teknolojileri kullanarak web sitesinin görsel tarafını oluşturan kişilere ise  front-end developer ( Ön yüz geliştirici ) denir. Web sitesinde kullanılacak renkler, içeriklerin yerleşimi, yazı tipinin seçilmesi ve uygulanması gibi birçok görevi bünyesinde barındırır.
<hr>
</p>

</i>
</font>
</div>
{% endblock body %}