{% extends "desinger.html" %}


{% block body %}
<div style ="margin-top: 100px;" class="container">
<font size ="6">
<i>

<h1>FormForm</h1>
<br><br>

<h2>Sayfa'da Geçen Diğer Konular </h2>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7kIyA.png"><a href ="BackEnd">BackEnd Nedir.</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7kHRf.png"><a href = "FrontEnd">FrontEnd Nedir.</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7o3xQ.png"><a href = "BootstrapNavbar">Bootstrap Kullanımı</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7EM4U.png"><a href = "Diller-Ne-İşe-Yarar">Diller Ne İşe Yarar</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7VhHP.png"><a href = "Temel-Seviye-Html">Temel Seviye Html</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7VGZx.png"><a href = "Temel-Seviye-JavaScript">Temel Seviye JavaScript</a>
<br><br>

<img src = "https://imgyukle.com/f/2022/02/09/o7V8Do.png"><a href = "Temel-Seviye-Css">Temel Seviye Css</a>
<br><br>

<br><br><br><br><br><br>
<h2>Sayfada Kullanılan Kaynaklar:<h2>
<br>
<ul>
<li><a href = "https://www.w3schools.com">W3Schools</a>
<br><br>
<li><a href = "https://www.argenova.com.tr">Argenova</a>
<br><br>
<li><a href = "https://www.tasarimkodlama.com">Tasarimkodlama</a>
<br><br>
<li><a href = "https://www.join.com.tr">Join</a>
<br><br>
<li><a href = "https://stackoverflow.com">Stackoverflow</a>
</ul>
<br><br><br><br>


<!--
<table border="0" cellSpacing="0" cellPadding="0" width="100%" id="table1">

 <tr>

  <td vAlign="top" width="98%"><center>

  <table border="0" id="table2">

   <tr>

    <td><b>Bu sayfa hakkındaki yorumlar:</b>

    </td>

   </tr>

  </table>

  <center><br>

&nbsp;<form onsubmit="return wsx_ywait();" method="post" name="wsx_yuyelik" action="http://127.0.0.1/y.php">

   <table id="table3">

    <tr>

     <td colSpan="20" align="left"><b>Bu sayfa hakkında yorum

     ekle:</b>

     </td>

    </tr>

    <tr>

     <td align="left">İsim

     </td>

     <td align="left"><input size="25" name="isim">

     </td>

    </tr>

    <tr>

     <td align="left">E-mail

     </td>

     <td align="left">

     <input size="25" name="mail" AUTOCOMPLETE="OFF">

     </td>

    </tr>

    <tr>

     <td>Mesajınız:</td>

     <td>

     <textarea style="WIDTH: 250px; HEIGHT: 100px" name="icerik" rows="1" cols="20"></textarea></td>

    </tr>

   </table>

   <input value="http://127.0.0.1/yorum.html" type="hidden" name="page">

   <input value="http://127.0.0.1" type="hidden" name="domain">

   <input value="30842" type="hidden" name="id">

   <input value="0" type="hidden" name="alt_id">

   <input value="0" type="hidden" name="alt_id1">

   <input value="index.html" type="hidden" name="dosya_ismi">

   <input value="Yorum ekle" type="submit">

  </form>

  </center></center></td>

 </tr>-->

</table>
<br><br><br><br>
</font>
</div>
{% endblock body %}