{% extends "desinger.html" %}

{% block body %}
<div style ="margin-top: 50px;"   class="container">
<font size = "6">
<i>

<ul>
<h1><a href = "https://docs.microsoft.com/tr-tr/dotnet/csharp/">CSharp</a><h1>
<br><br>

<h2>Kütüphaneler&Modüller</h2>
<br><br>



<h2>C# OPP</h2>
<hr>
<p> C# OOP : Classlar bizim yapmak isteğimiz işlemleri gruplara ayırmak, o grup üzerinden işlemlerimizi yapmak ve rahatlıkla bu gruba ulaşmak için kullanabilirz.
    <ul>
    <li> bir class’ı kullanabilmek için onun örneğini(referansını) oluşturmamız gerekmektedir.
    <li> bir class oluştururken kelimenin ilk harfi büyük oluşturulur. Ama örneği oluşturulduğunda ilk harfi küçük, sonraki kelimelerin ilk harfi büyük yazılır.
    </ul>
</p>
<a href = "CSharp-OPP">CSharp OPP Nedir?</a>
<hr>
<br><br><br>


<h2>Çok Kanallı(Multithread) Uygulamalar</h2>
<hr>
<p>
Multi thread çok kanallı çalışma anlamına gelir. yani yapılacak olan bir işlemi parçalara bölüp aynı anda kaç parçaya böldüysek yapmaktır. İşçi havuz problemlerindeki gibi bir işi tek bir işçi yapacağına birden fazla işçinin yapmasını sağlayacağız. Bu şekilde işlemlerimiz iki kat üç kat hızlanacaktı
</p>
<a href = "CSharp-Multithread">C# Multithread Nedir</a>
<hr>
<br><br><br>

</i>
</ul>
<br><br><br><br><br><br><br><br>
</font>
</div>
{% endblock body %}
