{% extends "desinger.html" %}


{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size = "5">
<i>
<h2>Multithread Nedir</h2>
<br><br><br>
<p>
Örneğin thread'lerin zaman dilimlerine bölündüklerinde sistemin nasıl bir önceki veya daha önceki thread'i çalıştırabildiğini düşünelim. İşlemci zaman dilimini dolduran bir thread için donanımda bir kesme işareti bırakır, bunun ardında thread'e ait bir takım bilgiler belleğe yazılır ve sonra bu bellek bölgesinde Context adı verilen bir veri yapısına depolanır. Sistem bu thread'e döneceği zaman Context'te yer alan bilgilere bakar ve hangi donanımın kesme sinyali verdiğini bulur. Ardından bu sinyal açılır ve işlemin bir sonraki işlem parçacığının çalışacağı zaman dilimine girilir. Eğer thread işlemini çok fazla kullanırsanız bu durumda bellek kaynaklarınıda fazlası ile tüketmiş olursunuz. Bu thread'leri neden titiz bir şekilde programlamamız gerektiğini anlatan nedenlerden sadece birisidir. Öyleki yanlış yapılan thread programlamaları sistemlerin kilitlenmesine de yol açacaktır.
<br>
Threading gördüğünüz gibi çok basit olmayan bir kavramdır. Bu nedenle olayı daha iyi açıklayabileceğimi düşündüğüm örneklerime geçmek istiyorum. Uygulamamızın formu aşağıdaki şekildeki gibi olucak.
</p>
<br><br><br>
<a href = "https://imgyukle.com/f/2022/02/07/owsTtH.gif" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/07/owsTtH.gif"></a>
<br><br>
<textarea disabled style ="color:white" cols="80" rows="10" >

public void z1()

{

     for(int i=1;i 60;++i)

     {

         zaman1.Value+=1;

         for(int j=1;j 10000000;++j)

         {

       j+=1;

         }

     }

}

public void z2()

{

     for(int k=1;k 100;++k)

     {

         zaman2.Value+=1;

         for(int j=1;j 25000000;++j)

         {

       j+=1;

     }

}

}

private void btnBaslat_Click(object sender, System.EventArgs e)

{

     z1();

     z2();

}
</textarea>
<br><br>
<p>
Program kodlarımızı kısaca açıklayalım. Z1 ve z2 isimli metodlarımız progressBar kontrolllerimizin değerlerini belirli zaman aralıklarıyla arttırıyorlar. Bu işlemleri geçekleştirmek için, Başlat başlıklı butonumuza tıklıyoruz. Burada önce z1 daha sonrada z2 isimli metodumuz çalıştırılıyor. Bunun sonucu olarak önce zaman1 isimli progressBar kontrolümüz doluyor ve dolması bittikten sonra zaman2 isimli progressBar kontrolümüzün value değeri arttırılarak dolduruluyor.
Şimdi bu programın şöyle çalışmasını istediğimizi düşünelim. Her iki progressBar'da aynı anda dolmaya başlasınlar. İstediğimiz zaman z1 ve z2 metodlarının çalışmasını durduralım ve tekrar başlatabilelim. Tekrar başlattığımızda ise progressBar'lar kaldıkları yerden dolmaya devam etsinler. Söz ettiğimiz aslında her iki metodunda aynı anda çalışmasıdır. İşte bu işi başarmak için bu metodları sisteme birer iş parçacağı ( thread ) olarak tanıtmalı ve bu thread'leri yönetmeliyiz.
.Net ortamında thread'ler için System.Threading isim uzayını kullanırız. Öncelikle programımıza bu isim uzayını ekliyoruz. Ardından z1 ve z2 metodlarını birer iş parçacığı olarak tanımlamamız gerekiyor. İşte kodlarımız.
</p>
<br><br><br>
<textarea disabled style ="color:white" cols="80" rows="10" >
public void z1()

{

     for(int i=1;i 60;++i)

     {

      zaman1.Value+=1;

      for(int j=1;j 10000000;++j)

      {

       j+=1;

      }

     }

}

public void z2()

{

     for(int k=1;k 100;++k)

     {

      zaman2.Value+=1;

      for(int j=1;j 25000000;++j)

      {

       j+=1;

      }

     }

}

ThreadStart ts1;

ThreadStart ts2;

Thread t1;

Thread t2;

private void btnBaslat_Click(object sender, System.EventArgs e)

{

     ts1=new ThreadStart(z1); * ThreadStart iş parçacığı olarak kullanılıcak metod için bir temsilcidir. Bu metod için tanımlanacak thread sınıfı nesnesi için paramtere olucak ve bu nesnenin hangi metodu iş parçacığı olarak göreceğini belirtecektir. */

     ts2=new ThreadStart(z2);

     t1=new Thread(ts1);

     t2=new Thread(ts2);

     t1.Start(); * İş parçağını Start metodu ile başlatıyoruz. *

     t2.Start();

     btnBaslat.Enabled=false;

}

private void btnDurdur_Click(object sender, System.EventArgs e)

{

     t1.Suspend(); * İş parçacağı geçici bir süre için uyku moduna geçer. Uyku modundaki bir iş parçacağını tekrar aktif hale getirmek için Resume metodu kullanılır. *

     t2.Suspend();

}

private void btnDevam_Click(object sender, System.EventArgs e)

{

     t1.Resume(); * Uyku modundaki iş parçacığının kaldığı yerden devam etmesini sağlar. *

     t2.Resume();

}

private void btnKapat_Click(object sender, System.EventArgs e)

{

     if(t1.IsAlive)  Eğer iş parçacıkları henüz sonlanmamışsa bunlar canlıdır ve IsAlive özellikleri true değerine sahiptir. Programımızda ilk biten iş parçacığı t1 olucağından onun bitip bitmediğini kontrol ediyoruz. Eğer bitmiş ise programımız close metodu sayesinde kapatılabilir. */

     {

                 MessageBox.Show(Çalışan threadler var program sonlanamaz.);

     }

     else

     {

      this.Close();

     }     

}
</textarea>
<br><br>

<p>
Uygulamamızda z1 ve z2 isimli metodlarımızı birer iş parçacığı (thread) haline getirdik. Bunun için System.Threding isim uzayında yer alan ThreadStart ve Thread sınıflarını kullandık. ThreadStart sınıfı , iş parçacığı olucak metodu temsil eden bir delegate gibi davranır. İş parçacıklarını başlatıcak(start), durdurucak(suspend), devam ettirecek(resume) thread nesnelerimizi tanımladığımız yapıcı metod ThreadStart sınıfından bir temsilciyi parametre olarak alır. Sonuç itibariyle kullanıcı Başlat başlıklı button kontrolüne tıkladığında, her iki progressBar kontrolününde aynı zamanda dolmaya başladığını ve ilerlediklerini görürüz. Bu aşamada Durdur isimli button kontrolüne tıklarsak her iki progressBar'ın ilerleyişinin durduğunu görürüz. Nitekim iş parçacıklarının Suspend metodu çağırılmış ve metodların çalıştırılması durdurulmuştur.
</p>
<br><br>

<a href = "https://imgyukle.com/f/2022/02/07/owpVKM.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/07/owpVKM.png"></a>
<br><br>

<p>
Bu andan sonra tekrar Devam button kontrolüne tıklarsak thread nesnelerimiz Resume metodu sayesinde çalışmalarına kaldıkları yerden devam ediceklerdir. Dolayısıyla progressBar kontrolllerimizde kaldıkları yerden dolmaya devam ederler. Bu sırada programı kapatmaya çalışmamız henüz sonlanmamış iş parçacıkları nedeni ile hataya neden olur. Bu nedenle Kapat button kontrolünde IsAlive özelliği ile iş parçacıklarının canlı olup olmadığı yani metodların çalışmaya devam edip etmediği kontrol edilir. Eğer sonlanmamışsa kullanıcı aşağıdaki mesaj kutusu ile uyarılır.
</p>
<br><br>


<a href = "https://imgyukle.com/f/2022/02/07/owpL5G.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/07/owpL5G.png"></a>
<br><br>
<p>
C# Multithread Kullanımı Genel olarak Böyledir.
</p>
<br><br><br>

<p>Csharpda'ki diğer konuları görmek için &nbsp;<a href="/CSharp">CSharp</a> adresine gidin</p>
<br><br><br><br><br><br>
</i>
</font>
</div>
{% endblock body %}