{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 50px;" class = "container">
<font size ="6">

<h1>OPP</h1>
<br><br>
<h3>OPP Nedir?</h3>
<p>
<hr>
OOP, Nesne Yönelimli Programlama anlamına gelir.

Prosedürel programlama, veriler üzerinde işlem gerçekleştiren prosedürler veya yöntemler yazmakla ilgiliyken, nesne yönelimli programlama hem verileri hem de yöntemleri içeren nesneler oluşturmakla ilgilidir.

Nesne yönelimli programlamanın prosedürel programlamaya göre birçok avantajı vardır:

OOP daha hızlı ve yürütülmesi daha kolay
OOP, programlar için net bir yapı sağlar
OOP, C# kodunu DRY "Kendinizi Tekrar Etmeyin" tutmaya yardımcı olur ve kodun bakımını, değiştirilmesini ve hata ayıklamasını kolaylaştırır
OOP, daha az kod ve daha kısa geliştirme süresi ile tam yeniden kullanılabilir uygulamalar oluşturmayı mümkün kılar
İpucu: "Kendini Tekrar Etme" (DRY) ilkesi, kod tekrarını azaltmakla ilgilidir. Uygulama için ortak olan kodları çıkarıp tek bir yere yerleştirmeli ve tekrar etmek yerine tekrar kullanmalısınız.</p>
<hr><br><br>


<h2>Sınıflar ve Nesneler?</h2>


<p>
<hr>
C# - Sınıflar ve Nesneler nedir?
Sınıflar ve nesneler, nesne yönelimli programlamanın iki ana yönüdür.

Sınıf ve nesneler arasındaki farkı görmek için aşağıdaki resme bakın:



Bu nedenle, bir sınıf nesneler için bir şablondur ve bir nesne, bir sınıfın bir örneğidir.

Bireysel nesneler oluşturulduğunda, sınıftan tüm değişkenleri ve yöntemleri miras alırlar.

Bir sonraki bölümde sınıflar ve nesneler hakkında çok daha fazlasını öğreneceksiniz.
<hr>
</p>

<br><br><br><br>
<p>Csharpda'ki diğer konuları görmek için &nbsp;<a href="/CSharp">CSharp</a> adresine gidin</p>

<br><br><br><br>
</font>
</div>
{% endblock body %}