{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size = "5">
<i>

<h1>JavaScript</h1>
<br><br>

<h1>En Çok Kullanılan JavaScript Frameworkleri&Kütüphaneleri</h1>
<br><br><br>

<h2><img src ="https://imgyukle.com/f/2022/02/07/owicg6.png"> Bu Framework'leri Öğrenmek İçin Temel Seviye Bilmeniz Gereken Bazı Diller var.Eğer Onları Bilmiyorsanız Temel Seviye Olarak Yazdığımız Makalelere Göz Atabilirsiniz.</h2>
<ul>
<li><a href = "Temel-Seviye-Html">Html</a>
<li><a href = "Temel-Seviye-Css">Css</a>
<li><a href = "Temel-Seviye-JavaScript">JavaScript</a>
</ul>
<br><br><br>


<h3><li>REACT</h3>
<hr>
<a href="https://imgyukle.com/f/2022/02/03/obRkWU.png" rel="lightbox" title="REACT"><img src = "https://imgyukle.com/f/2022/02/03/obRkWU.png">
<br>
<p>

<a href="https://tr.reactjs.org">React</a>, kullanıcı arayüzü (GUI) oluşturmak için kullanılan en popüler JavaScript kütüphanesidir. Web siteleri işlemek için kullanıcı çıktısına harika yanıt sunan bir yöntemi kullanır.

Bu aracın bileşenleri Facebook tarafından geliştirilmiştir. 2013’de açık kaynaklı bir JavaScript olarak piyasaya sürülmüştür. Şu anda, çok satan listesinin en üstünde yer alan <a href = "https://angular.io">Angular</a> ve <a href = "https://getbootstrap.com">Bootstrap</a> gibi ana rakiplerinin önündedir.

Bu makalede React nedir ve bir front-end geliştiricisi olarak işinize nasıl yarar anlamanıza yardımcı olacağız.

</p>
<a href = "JavaScript-React">JavaScript React Modülü Kullanımı </a>
<hr>
<br><br><br>



<i>
<h3><li>ANGULAR</h3>
<hr>
<a href="https://imgyukle.com/f/2022/02/03/obRIPt.png" rel="lightbox" title="ANGULAR"><img src ="https://imgyukle.com/f/2022/02/03/obRIPt.png">
<br>
<p>
<a href ="https://angular.io">Angular</a> modüler bir yapıya sahiptir. Uygulumanızı parçalara bölebilir ve tekrar kullanabilirsiniz. Diğer frameworklere göre daha esnek bir yapıya sahiptir. Sizlere daha fazla kontrol edebileceğiniz alanlar sunar. Diğer <a href = "JavaScript-SPA">SPA</a> uygulamalarından ayıran en büyük farkı ise paketler ile birlikte gelmesidir.
</p>
<a href = "JavaScript-Angular">JavaScript Angular Modülü Kullanımı</a>
<hr>
<br><br><br>



<h3><li>VUE</h3>
<hr>
<a href="https://imgyukle.com/f/2022/02/03/obRafe.png" rel="lightbox" title="VUE"><img src = "https://imgyukle.com/f/2022/02/03/obRafe.png">
<br>
<p>
<a href = "https://vuejs.org">VUE</a> UI tarafında kendine özgü bir syntaxı vardır. Açık kaynak olarak sunulan bu kütüphane hızla yayılmaktadır. Bu hızlı yükselişin tabi ki birden çok nedeni var. Bu nedenlerden bazıları kolay ve hızlı öğrenme, lightweight yapısı, projelere kolay entegre olması ve en önemlisi çok hızlı olması. Tarayıcının DOM’u ( Document Object Model) üzerinde değişiklik yapmak çok maliyetlidir. Bu nedenle Vue js <a href = "JavaScript-VirtualDom">virtual DOM</a> kullanmaktadır.
</p>
<a href = "JavaScript-VUE">JavaScript VUE Modülü Kullanımı</a>
<hr>
<br><br><br>



<h3><li>METEOR</h3>
<hr>
<a href="https://imgyukle.com/f/2022/02/03/obRcX0.jpg" rel="lightbox" title="METEOR"><img src = "https://imgyukle.com/f/2022/02/03/obRcX0.jpg">
<br>
<p>
<a href = "https://www.meteor.com/">Meteor</a>’un en temel konseptlerinden bir diğeri de reaktivite yapıya sahip olmasıdır. Meteor, verilerin gerçek zamanlı senkronizasyonu konusunu farklı bir yol çizerek gerçekleştirir. Her güncellemede sunucuya istek göndermek yerine, DDP adı verilen bir protokol ile düşük veri bağlantısı gerçekleştirir. DDP kesintisiz bir bağlantıya sahip olduğundan istemci ve sunucu arasındaki anlık değişiklik yansıtılır. Kullanıcı uygulamayı kullanırken yaptığı bir değişiklik, sunucuya gönderilmeye başladığı anda arayüz üzerindeki değişiklik tamamlanır. Değişim çok hızlı gerçekleşir, böylece sunucuya gidip gelme süresi beklenmemiş olur. Böyle bir özelliğe sahip oluşuyla anlık veri akışının önemli olduğu uygulamalarda Meteor kullanımı bir avantaj yaratır.

Geliştirici Javascript dilini hem <a href = "FrontEnd">front-end</a> hem de <a href = "BackEnd">back-end</a> tarafında kullanabilir. Bununla birlikte <a href ="JavaScript-TypeScript">Typescript</a> de kullanabilir. Bu yanıyla geniş bir çerçeve çizer.
</p>
<a href = "JavaScript-Meteor">JavaScript Meteor Modülü Kullanımı</a>
<hr>
<br><br><br>



<h3><li>EMBER.JS</h3>
<hr>
<a href="https://imgyukle.com/f/2022/02/03/obRmph.png" rel="lightbox" title="EMBER.JS"><img src = "https://imgyukle.com/f/2022/02/03/obRmph.png">
<br>
<p>
<a href = "https://emberjs.com/">Ember</a>
Açık kaynak kod kullanımını destekleyen, web uygulamalarının gerçekleştirildiği çatı uygulamalardan biri de Ember.js’dir. Açık kaynak koduna sahip program ve scriptler, görüntülemek isteyen herkesin ulaşabildiği ve üzerinde değişiklik yapabileceği şekilde paylaşıyorlar. Ember.js ‘nin bu özelliği de işlevselliğini arttırmakta, hızlı ve güvenilir yazılım altyapısını sağlamaktadır. 

Yazılım çatısı kavramı ise uygulamalar için standart olarak kullanılan fonksiyonların paket halinde, hazır olarak sunulduğu bir sistemler olarak ifade edilebilir. Bu sistemlerde mevcut yazılım paketlerine ek kodlar tanımlı olabilmekte ve güncellemeler yapılmaktadır. Ember.js, tek bir sayfadan meydana gelen web uygulamalarının oluşturulmasına ve ölçeklenmesine imkan tanıyan yazılım çatılarındandır. 

MVC (Model View Controller), uygulamaların geliştirme süreçlerinde yer alan teknolojilerden biridir ve mimari tasarımsal desenleri ifade etmektedir. Ember.js, “MVC” prensipleri çerçevesinde yapılandırılan çatı uygulamalardan biridir. Aynı zamanda JavaScript yazılım dilini kullanan bir araç özelliği taşır. 

Ember.js, ilk çıkış tarihi olan 2011 yılından itibaren, geliştirilmeye devam ediliyor. Ember.js’nin görevlerinden biri de, veri yönetimlerinin yürütülmesi ve uygulama akışlarının takiplerinin gerçekleştirilmesidir. 

Başka bir ifade ile Ember.js, açık kaynak kod kullanımlı, JavaScript framework’ü olarak da bilinen uygulama çatısıdır. Framework, bilgisayar programlamalarında kullanılan bir yazılım iskeletidir ve Ember.js, JavaScript dilini kullandığı için bu şekilde de tanımlanmaktadır. 
</p>
<a href = "JavaScript-Ember">JavaScript Ember Modülü Kullanımı</a>
<hr>
<br><br><br>


<br><br><br>
<br><br><br>
<br><br><br>
</i>
</font>
</div>
{% endblock body %}
