{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;"class ="container">
<font size ="6">
<i>


<a href="https://imgyukle.com/f/2022/02/03/ob6tyH.png" rel="lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/03/ob6tyH.png"></a><br><br>
<h3><a href ="https://nodejs.org/en/">NodeJs</a>&nbsp;Sayfasına Gittiğinizde Sizi Yukarıdaki Görseldeki Gibi İki Seçenek Karşılar</h3>
<br><br>
<h2>Peki Hangi Seçenek Ne İşe Yarar</h2>
<br><br>
<p>
NodeJs Normal Sıklıkla  Güncelleme Alan Bir Programdır. Eğer<u>16.13.2 LTS</u>'yi Seçerseniz En Çok Kullanılan Sürümünü İndirmiş Olucaksınız.<br>Peki Diğerini İndirirsek Ne Olur? Binevi Aynıdır Yani<u>17.4.0 Current</u>'ide İndirseniz Aynı Olcaktır .  
</p><br><br>
<h3>Peki Hangisini Kullanmalıyım! Eğer Yeniyseniz LTS'yi Yüklemek Sizin İçin Oldukça İyi Olcaktır Kullanım Sıklığından Dolayı Sorularınıza Daha Hızlı Yanıt Bulabilirsiniz</h3>
<br><br>


<br><br><br><br><br>
<p>JavaScriptde'ki diğer konuları görmek için &nbsp;<a href="/JavaScript">JavaScript</a> adresine gidin</p>

<br><br><br><br><br>
</i>
</font>
</div>
{% endblock body %}