{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class =  "container">
<font size = "6">
<i>
<h1>TypeScript</h1>
<p>
<hr>

TypeScript, uygulama ölçeğinde geliştirme için JavaScript.” olarak tanımlanmaktadır. TypeScript strongly-typed, nesne yönelimli ve derlenebilir açık kaynaklı bir programlama dilidir. Microsoft çalışanı ve C# dilinin tasarımcısı olan Anders Hejlsberg tarafından tasarlanmış, ilk sürümü 2012 yılında yayınlanmıştır. Bu yazının yazıldığı Şubat 2019 tarihlerinde 3.3 en güncel sürümüdür. TypeScript’i hem bir dil hem de bir araçlar kümesi olarak tanımlayabiliriz. İstemci veya sunucu ortamında çalışabilen JavaScript programları yazmak için kullanılabilir. JavaScript’in tüm özelliklerini içinde barındıran ve ek özellikler eklenmiş bir üst kümesi olarak tanımlanabilir. Büyük ve kodlanma aşaması karmaşık olan projelerde verimliliği arttırır.

<hr>
</p>

</i>
</font>
</div>
{% endblock body %}