{% extends "desinger.html" %}

{% block body %}
<div style ="margin-top: 100px;"   class="container">
<font size = "5">
<i>

<ul>
<h1>Python<h1>
<br>
<br>
<h2>Python En Çok Kullanılan Kütüphaneler&Modüller</h2>
<br>
<br>
<li>

<h3><a href = "https://docs.python.org/3/library/os.html">Os</a></h3>
<a href = "https://imgyukle.com/f/2022/02/05/o63b2o.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o63b2o.png"></a>
<hr>
<p>
Os modülü Python’da hazır olarak gelen , dosya ve dizinlerde kolaylıkla işlemler yapmamızı sağlayan bir modüldür. İşletim sistemlerinin çalışma mantıklarının birbirinden farklı olduğu göz önünde bulundurulduğunda os modülü bizlere farklı işletim sistemleri ile tutarlı bir şekilde iletişim kurabilmemizi sağlayacak pek çok fonksiyon sunar.
</p>
<a href="/Python-Os "><font size ="5">Python OS Modülü Kullanımı</font></a>
<hr>
<br><br>


<li>

<h3><a href = "https://numpy.org">Numpy</a></h3>
<a href = "https://imgyukle.com/f/2022/02/05/o637yI.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o637yI.png"></a>
<hr>
<p>Herhangi bir özel Python paketi olmadan temel matematiksel işlemleri yapabilirsiniz. Bununla birlikte, herhangi bir karmaşık matematik işlemi yapacaksanız, NumPy paketi kodlama hayatınızı çok daha kolaylaştıracaktır.

NumPy, çok boyutlu diziler oluşturmaya ve içlerinde depolanan veriler üzerinde hesaplamalar yapmaya yardımcı olacak araçlar sağlar. Cebirsel formülleri çözebilir, genel istatistiksel işlemleri gerçekleştirebilir ve çok daha fazlasını yapabilirsiniz.

NumPy, çeşitli genel amaçlı programlama görevleri için değerli bir Python paketi olsa da, TensorFlow gibi kitaplıkların temelinin bir parçasını sağladığından makine öğrenimi yapmak istiyorsanız özellikle önemlidir.</p>
<a href="/Python-Numpy "><font size ="5">Python Numpy Modülü Kullanımı</font></a>
<hr>
<p>
<br><br>


<li>

<h3><a href = "https://pypi.org/project/requests/">Request</a></h3>
<a href = "https://imgyukle.com/f/2022/02/05/o68E2s.jpg" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o68E2s.jpg"></a>
<hr>
HTTP istekleri gönderen kod yazmak zor olabilir, çünkü HTTP’nin verileri tam olarak insanların okuması kolay bir şekilde biçimlendirmemesi gerçeği zordur.

Requests Python paketi (slogan: “İnsanlar için HTTP”), uygulamanızdan HTTP istekleri göndermek için normalde yapmanız gereken sıkıcı görevlerin çoğunu otomatikleştirerek bu sorunu çözer. Sorgu dizeleri ekleme veya POST form kodlaması yapma ihtiyacını ortadan kaldırır. Ayrıca, HTTP sunucularıyla bağlantıları otomatik olarak canlı tutar ve bunu yapmak için bir sürü kod yazma ihtiyacını ortadan kaldırır.

Kısacası, uygulamanız HTTP üzerinden herhangi bir veri gönderiyorsa, İstekler mutlaka sahip olunması gereken bir pakettir.
</p>
<a href ="/Python-Request"><font size ="5">Python Request Modülü Kullanımı</font></a>
<hr>

<br><br>


<li>

<h3><a href = "https://docs.python.org/3/library/tkinter.html">Tkinter </a></h3>
<hr>
<p>
Grafik Kullanıcı Arayüzüne (GUI) sahip bir Python uygulaması mı geliştirmek istiyorsunuz? Bunu yapmanıza yardımcı olmak için tasarlanmış çeşitli paketler vardır (aslında, sadece Python GUI paketlerinin ilk on listesini yapabiliriz). Ancak çoğu Python geliştiricisinin, GUI oluşturmak için Tkinter’in en önemli ve en yaygın kullanılan çerçeve olduğu konusunda hemfikir olacağını düşünüyorum. Python’u hemen hemen her modern işletim sisteminde çalışan TK GUI araç setine bağlar.

Farklı bir GUI araç takımı için güçlü bir tercihiniz yoksa, Tkinter muhtemelen bir Python GUI oluştururken başlamak için en iyi yerdir.
</p>
<a href="/Python-Tkinter"><font size = "5">Python Tkinter Modülü Kullanımı</font></a>
<hr>

<br><br>


<li>

<h3><a href = "https://pypi.org/project/pywin32/">PyWin32</a></h3>
<a href = "https://imgyukle.com/f/2022/02/05/o68StP.jpg" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o68StP.jpg"></a>

<hr>
<p>
Özellikle Windows Python programlama için, Pywin32 sahip olunması gereken bir pakettir. Windows kayıt defteriyle etkileşim, Windows panosunu kullanma ve çok daha fazlası gibi şeyler yapmanıza olanak tanıyan birçok yerel Windows API işlevine erişim sağlar.

Platformlar arası bir Python uygulaması oluşturuyorsanız, Pywin32 size pek iyi gelmez, ancak Windows geliştiricileri, yerel Windows araçları yerine kullanmaktan çok hoşlandıklarını fark edebilirler.
</p>
<a href="/Python-PyWin32"><font size = "5">Python PyWin32 Modülü Kullanımı</font></a>
<hr>


</ul>
</i>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</font>
</div>
{% endblock body %}

