{% extends "desinger.html" %}


{% block body %}
<div style ="margin-top: 100px; " class ="container">
<font size ="5">
<i>

<h1>Css</h1>
<br><br><br>

<h2>En Popüler CSS Kütüphaneleri </h2>
<br><br><br><br>


<h3><a href = "https://getbootstrap.com">Bootstrap</a></h3>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9xQfq.jpg" rek = "lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9xQfq.jpg"></a>

<hr>
<p>
Bootstrap şimdiye kadar dünyanın en popüler CSS kütüphanelerinin başında bulunmaktadır. Bootstrap kullanılarak cep telefonu, dizüstü bilgisayar ve masaüstü bilgisayar vb. pek çok cihazda, web siteleri tutarlı bir şekilde görüntülenir. Oldukça güçlü araçlara sahip olan bir kütüphanedir.
<br>
<br>    
<a href = "Css-Bootstrap">Bootstrap Modülü Kullanımı</a>
</p>
<hr>
<br><br><br>



<h3><a href = "https://get.foundation">Foundation</a></h3>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9xSMv.jpg" rek = "lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9xSMv.jpg"></a>

<hr>
<p>
Foundation neredeyse dünyanın da en çok kullanılan CSS kütüphaneleri arasında yer almakta. Bootstrap benzeri duyarlı web siteleri ve uygulamaları için geliştirilmiş olan  Foundation, gayet esnek ve basitçe özelleştirilebilir bir yapıya sahip olması ile de pek çok kullanıcıyı kendine çekmektedir. Özellikle işletmelerce kullanılan geniş alana sahip bir kütüphanedir.
</p>
<br>
<a href = "Css-Foundation">Foundation Modülü Kullanımı</a>
<hr>
<br><br><br>



<h3><a href = "https://animate.style">Animate.css</a></h3>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9xjpj.png" rek = "lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9xjpj.png"></a>
<hr>
<p>
Animasyonlar, web tasarımlarınıza ilgi yaratmanın ve markanız üzerinde olumlu izlenimler oluşturmanın kolay bir yoludur. 
Tüketicilerin animasyonlu bir video izledikten sonra bir ürünü beğenme olasılığı %70 daha fazladır. Ayrıca o videoyu izledikten sonra paylaşma olasılıkları da %92 daha fazladır.
Bununla birlikte, web geliştirmede animasyon yapmak zor olabilir. Birden fazla platformda web animasyonları uygulamak söz konusu olduğunda işler daha da zorlaşır.
Animate.css, birden çok tarayıcıda uygulanabilen, kullanıma hazır bir CSS animasyonları kütüphanesidir. Kurulumu kolaydır ve bir kez yerleştirildikten sonra sadece animate__animated işlevini kullanarak animasyonlu bir öğe eklemek kadar kolaydır. Animate.css ayrıca geniş ölçüde özelleştirilebilir. 
Animate.css, bir animasyonun uzunluğunu, gecikme süresini ve etkileşimlerini de belirtebilir. Tüm bunlar, anlaşılması ve uygulanması kolay yerel komutlarla sağlanır.
<br>
<a href = "Css-Animate">Animate Modülü Kullanımı</a>
</p>
<hr>
<br><br><br>



<h3><a href = "https://semantic-ui.com">Semantic</a></h3>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9xieA.png" rek = "lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9xieA.png"></a>
<hr>
<p>
Semantic UI: En popüler CSS kütüphaneleri arasında bulunan Semantic UI duyarlı, fonksiyonel ve estetik web arayüzleri geliştirmeyi sağlayan bir kütüphanedir. Kullanıcı dostu sınıf adlarına, 3000’den fazla yerleşim düzenine ve zengin arayüz bileşenleri de bulunmaktadır.<br>
<a href = "Css-Semantic">Semantic Modülü Kullanımı</a>
</p>
<hr>
<br><br><br>



<h3><a href = "https://getuikit.com">UIkit</a></h3>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9xvxS.jpg" rek = "lightbox" title="Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9xvxS.jpg"></a>

<hr>
<p>
UIkit, güçlü ve hızlı web arayüzleri geliştirme amacı ile kullanılmakta olan modüler ve bir front-end CSS kütüphanesidir. Kütüphanenin sahip olduğu birçok kullanıma hazır bileşen ve özelleştirme seçeneği mevcuttur. Bu sayesinde etkileyici ve modüler arayüzler tasarlanabilir.
<br>
<a href = "Css-UIKit">UIKit Modülü Kullanımı</a>
</p>
<hr>
<br><br><br>




</i>
</font>
</div>
{% endblock body %}