{% extends "desinger.html" %}

{% block body %}
<div style = "margin-top: 100px;" class = "container">
<font size = "5">
<i>

<h1>Semantic</h1>
<br><br><br>



<h2>Semantic UI</h2>
<br>
<p>
Semantic UI estetik, işlevsel ve duyarlı (responsive) arayüzler geliştirmeyi mümkün kılan bir geliştirme framework’ü. Bu maksatla, kelimeleri ve sınıfları (classes) değiştirilebilen kavramlar olarak ele alır. Bu ne demek? Hemen şöyle izah edeyim. Semantic UI sınıfları (classes) doğal dil yapısı gibi sıralanarak anlamlı bir yapı oluşturur. Aşağıdaki örneğe bir göz atalım.
</p>
<br>

<a href = "https://imgyukle.com/f/2022/02/05/o9CpHP.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9CpHP.png"></a>

<br><br><br>

<p>
Yukarıdaki class (sınıf) içeriğine baktığınızda kolay bir şekilde ilgili katman içeriğinin 3 adet butondan oluştuğunu, alt elemanlara baktığınızda da her birinin işlevini kolaylıkla anlayabilirsiniz. Örneği biraz daha geliştirelim.
</p>
<br><br>

<a href = "https://imgyukle.com/f/2022/02/05/o9S24s.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9S24s.png"></a>
<br><br>


<p>
Görüldüğü üzere, class içeriğinden elemanların nasıl davranacağını, hangi özelliklere sahip olacağını kolaylıkla anlamak mümkün. Diğer yandan, Semantic UI CSS’in yanı sıra, JavaScript ile davranışsal özellikler de sunmakta. Geliştiriciler bu davranışları istedikleri gibi düzenleyebilmektedirler.
</p> 
<br><br><br>
<a  href = "https://imgyukle.com/f/2022/02/05/o9ugdN.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9ugdN.png"></a>
<br>
<a href = "https://imgyukle.com/f/2022/02/05/o9usvq.png" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9usvq.png"></a>
<br><br><br>

<p>
Bu özellikler dahilinde, Semantic UI 3000+ tema değişkeni ve 50+ UI bileşeni ile neredeyse her ihtiyaca doğrudan cevap veren, oldukça kapsamlı arayüz çalışmaları oluşturabilmeyi mümkün kılmakta.
</P>
<br><br>

<a href = "https://imgyukle.com/f/2022/02/05/o9uGsv.jpg" rek = " lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9uGsv.jpg"></a>
<br><br><br>


<h2>Semantic UI Kullanımı</h2>
<p>
Elbette bu kadar özellik saydıktan sonra, Semantic UI’i çalışmalarımıza nasıl dahil edebileceğimizden de bahsetmemiz gerekir.
Semantic UI, React4 ve Angular5 için geliştirme aşamasında olan (pek çok bileşeni hazır durumda) bir desteğe de sahip. Şimdilik doğrudan bir Vue.js desteği mevcut değil. Ancak, Semantic UI6 Vue değerlendirilebilecek opsiyonlardan biri olabilir. Diğer entegrasyonlar (Meteor, Ember vb.) ve yönergeler için Integrations7 sayfasını inceleyebilirsiniz.
</p>
<br><br>

<a href = "https://imgyukle.com/f/2022/02/05/o9uWzn.jpg" rek = "lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9uWzn.jpg"></a>
<br><br>

Semantic UI’ı projelerinizde kullanmak isterseniz Gulp yönergelerine de göz atmak isteyebilirsiniz8. Semantic UI şu sebeplerden dolayı Gulp kullanımını öne çıkartmakta:
<ul><br>
<li>LESS dosyalarını tema değişkenleri ( theming variables) ile yönetebilmek (konuyla ilgili olarak Theming sayfasını inceleyebilirsiniz9)<br> <br> 
<li>Dosya değişikliklerini izleyerek düzenleme yapılan dosyaları işleme almak ve değişiklikleri temaya uygulamak,<br><br>
<li>Yalnızca gerekli bileşenleri ilişkili kılmak,<br><br>
<li>RTLCSS ile Right-To-Left (RTL) diller için destek sağlamak.<br><br>
Benim özellikle üzerinde duracağım kullanım ise CDN ile (jsDelivr)10 sağlayacağımız ve ihtiyaç duyulan bileşenleri harici olarak dahil edeceğimiz (hem CSS, hem de JS dosyalarını) kullanım olacak11.


<br><br><br>

<a href = "https://imgyukle.com/f/2022/02/05/o9u7Sb.png" rek ="lightbox" title = "Örnek"><img src = "https://imgyukle.com/f/2022/02/05/o9u7Sb.png"></a>







<br><br><br><br>
<p>Cssde'ki diğer konuları görmek için &nbsp;<a href="/Css">Css</a> adresine gidin</p>

<br><br><br><br>
</i>
</font>
</div>
{% endblock body %}